
[Unit]
Description=SPARQL endpoint
Documentation=
Requires=sparql.socket

[Service]
Type=simple
ExecStart=/usr/bin/cat /etc/passwd
#/usr/local/bin/sparql
StandardInput=socket
StandardError=journal

[Install]
WantedBy=multi-user.target

